@tailwind base;
@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
ul {
  list-style-type: circle;
}
.hero {
  @apply py-20;
}

.title {
  @apply text-5xl;
  color: #333;
  line-height: 1.15;
}

@tailwind utilities;
